ul {
  padding: 0;
  li {
    display: inline-block;
    margin-right: 1rem;
    color: #f8f8f8;
    font-weight: 700;
  }

  .tag {
    padding: 0.2rem 1rem;
    border-radius: 3px;
  }

  .Work {
    background: #272635;
  }
  .Volunteer {
    background: #f3a39e;
  }
  .Blueprint {
    background: #0078e8;
  }
  .Code {
    background: #fdb927;
  }
  .Design {
    background: #65bf73;
  }
}
