.about {
  padding-top: 10rem;

  .about-intro {
    display: flex;
    margin: auto;
    max-width: 80%;

    @media (min-width: 1024px) {
      justify-content: space-between;
    }

    @media (max-width: 1024px) {
      width: 100%;
      flex-direction: column;
    }

    .about-img {
      // margin-right: 5rem;
      //fix for fluid img in flex
      width: 100%;
      @media (min-width: 1024px) {
        max-width: 40%;
      }
    }

    .about-details {
      margin-top: 0;
      @media (min-width: 1024px) {
        margin-top: 5rem;
        max-width: 50%;
      }
    }
  }
}

p {
  font-size: 1.5rem;
  @media (max-width: 600px) {
    font-size: 1rem;
  }
}

h1 {
  @media (max-width: 600px) {
    font-size: 2rem;
  }
}
