.project-inner {
  display: flex;
  margin-bottom: 8rem;
  height: 70vh;
  width: 100%;
  max-width: 100%;
  @media (min-width: 1024px) {
    justify-content: space-between;
  }
  @media (max-width: 1024px) {
    width: 100%;
    flex-direction: column;
  }
  @media (max-width: 480px) {
    height: 70vh;
  }
  .project-details {
    width: 100%;
    @media (min-width: 1024px) {
      max-width: 50%;
    }
    .project-title {
      font-size: 8em;
      @media (max-width: 600px) {
        font-size: 3em;
      }
    }

    #PFC {
      font-size: 6em;
      @media (max-width: 600px) {
        font-size: 3em;
      }
    }

    h3 {
      margin-bottom: 2rem;
      @media (max-width: 600px) {
        font-size: 1.5rem;
      }
    }

    .project-link {
      font-weight: 500;
      border: 2px solid #272635;
      padding: 8px 12px;
      margin-right: 12px;
    }

    .disabled {
      pointer-events: none;
    }
  }
}
