.footer {
  border-top: 2px solid;
  border-image-source: linear-gradient(
    to right,
    rgba(160, 55, 177, 1) 0%,
    rgba(219, 47, 98, 1) 35%,
    rgba(70, 58, 214, 1) 70%,
    rgba(79, 133, 215, 1) 100%
  );
  border-image-slice: 5;
  padding-top: 1.5rem;
  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    p {
      font-weight: 300;
      font-size: 1rem;
      margin-bottom: 0;
    }
    @media (max-width: 1024px) {
      text-align: center;
      p {
        font-size: 0.8rem;
      }
    }
  }
  .help {
    display: inherit;
    text-align: left;
    h5 {
      font-family: 'Volkhov', serif;
      font-size: 1.5rem;
      margin-bottom: 0rem;
      @media (min-width: 1024px) {
        margin-right: 1rem;
      }
    }
    .socials {
      display: inherit;
      a:not(.first) {
        margin-left: 1rem;
      }
    }

    @media (max-width: 1024px) {
      margin-top: 1rem;
      text-align: center;
      h5 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
    }
  }
}
