@import '../abstracts/variables';

html {
  font-size: 16px;
}

body {
  color: $text;
  background: #f8f8f8;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.app {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: auto;
  max-width: 80%;
  &.fluid {
    padding: 0;
    margin: 0;
    max-width: 100% !important;
  }
}
