@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;900&display=swap');

// Used with Personal License
@font-face {
  font-family: 'Migra-Regular';
  src: local('Migra-Regular'), url('../fonts/Migra-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MigraItalic-Italic';
  src: local('MigraItalic-Italic'), url('../fonts/MigraItalic-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'NeueMachina-Regular';
  src: local('NeueMachina-Regular'), url('../fonts/NeueMachina-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: Migra-Regular, serif;
  font-size: $big-font-size;
}

h2 {
  font-family: NeueMachina-Regular, monospace;
  font-size: $mid-font-size;
}

h3 {
  font-family: NeueMachina-Regular, monospace;
  font-size: $mid-font-size;
}

p,
a,
ul {
  font-family: NeueMachina-Regular, monospace;
  font-size: $default-font-size;
  color: $text;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  position: relative;
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to right, #da4453, #3633a3 50%, #272635 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 200ms ease;
  text-decoration: none; // text decorations are clipped in WebKit browsers
  &:hover {
    background-position: 0 100%;
  }
}

.section-title {
  margin: 0px;
  margin-bottom: 4.5rem;
  font-size: $big-font-size;
  font-weight: bold;

  @include respond(phone) {
    font-size: 2.8rem;
  }
}

.dark-blue-text {
  color: $dark-blue-text !important;
}

.text-color-main {
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  // Responsive text purple style
  @include respond(phone) {
    background-image: none;
    -webkit-text-fill-color: $primary-color;
  }

  &:hover {
    transform: translateX(2px);
  }
}
