@import './abstracts/mixins';
@import './abstracts/variables';

@import './base/base';
@import './base/typography';

@import './components/nav';
@import './components/intro';
@import './components/navmenu';
@import './components/sidenav';

@import './layout/footer';

@import './sections/about';
@import './sections/projects';

@import './pages/case'; // @import './vendor/css/font-awesome.min.css';

// Need to load local fonts here; Used with Personal License
@font-face {
  font-family: 'Migra-Regular';
  src: local('Migra-Regular'), url('../fonts/Migra-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
